<!-- Navbar Başlangıç -->
<div class="w3-top">
  <div class="w3-bar w3-red w3-card">
    <!-- Logo / Anasayfa -->
    <a href="/about" class="w3-bar-item w3-button w3-padding-large">Anasayfa</a>

    <!-- Diğer Menü Öğeleri (Solda) -->
    <a href="/about" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Hakkımızda</a>
    <a href="/contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Üyelik</a>
    <a href="/blog" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Blog</a>
    <a href="/faaliyet" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Faaliyetlerimiz</a>
    <a href="/online" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Online Üyelik</a>

    <!-- Kullanıcı Girişi (Sağda) -->
    <a href="/login" class="w3-bar-item w3-button w3-padding-large w3-right w3-hide-small">Kullanıcı Girişi</a>

    <!-- Hamburger Butonu (Mobil) -->
    <a href="javascript:void(0);" class="w3-bar-item w3-button w3-right w3-hide-medium w3-hide-large" onclick="toggleMobileMenu()">
      <i class="fa fa-bars"></i>
    </a>
  </div>

  <!-- Mobil Menü (Başlangıçta gizli) -->
  <div id="mobileMenu" class="w3-bar-block w3-red w3-hide w3-hide-large w3-hide-medium">
    <a href="/about" class="w3-bar-item w3-button">Hakkımızda</a>
    <a href="/contact" class="w3-bar-item w3-button">Üyelik</a>
    <a href="/blog" class="w3-bar-item w3-button">Blog</a>
    <a href="/faaliyet" class="w3-bar-item w3-button">Faaliyetlerimiz</a>
    <a href="/online" class="w3-bar-item w3-button">Online Üyelik</a>
    <a href="/login" class="w3-bar-item w3-button">Kullanıcı Girişi</a>
  </div>
</div>

<!-- Menü Toggle Script -->
<script>
function toggleMobileMenu() {
  var x = document.getElementById("mobileMenu");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>
